 div#comments{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
article>h1{
    font-size: 4rem;

}
h2{
    font-size: 1.2rem;
}
.compra > a{
    margin-top: 10px;
    font-size: 1.4rem;

}
#menu{
    margin: 0px;
    font-size: 1.5rem;
}
#appear{
    margin: 0px;
}
div#srch{
    height: 100vh;
}
#article2 {
    height: 100%;
}
#article2 >picture> img{
    width: 250px;
}