div#comments{
    font-size: 2rem;
   
}
article>h1{
    font-size: 6rem;

}
.compra > a{
    margin-top: 10px;
    font-size: 1.4rem;

}
#menu{
    margin: 0px;
    font-size: 1.5rem;
}
#appear{
    margin: 0px;
}
div#srch{
    height: 100vh;
}
#article2 {
    height: 150vh;
}

.topmodal{
    font-size: 0.8rem;
}
.modalclose{
    height: 40px;
    transform: translate(0px,-50%);
}

.alertcontent{
    height: 100%;
}
.alertcontent > p{
    font-size: 1rem;
    max-width: 80%;
}